.two-columns__paragraph {
  line-height: 34px;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.two-columns__paragraph:nth-of-type(1) {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:nth-of-type(2) {
  margin: 0 0 30px 0;
}
