.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: #2f80ed;
  text-decoration: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
