.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: var(--color-of-text);
}

a {
  color: var(--blue);
  text-decoration: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --dark-gray: #1f1f1f;
  --light-gray: #f2f2f2;
  --blue: #2f80ed;
  --color-of-text: #000;
  --title-line-h: 1.15;
  --footer-column-line-h: 30px;
  --feynman-subtitle-and-link-line-h: 51px;
}

/* Заголовок */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: var(--light-gray);
  position: relative;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: var(--blue);
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.header__title {
  font-size: 102px;
  width: 730px;
  display: flex;
  align-self: center;
  line-height: 96px;
  font-weight: 600;
  flex-wrap: wrap;
  align-content: center;
  padding: 0;
  margin: 0 0 0 64px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 3;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

/* Логотип */

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 145px;
  height: 25px;
  z-index: 2;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

/* Двухколоночное описание */

.two-columns {
  display: flex;
  margin: 100px auto 0 auto;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: var(--blue);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  display: flex;
  line-height: 34px;
  font-weight: 400;
  font-size: 24px;
}

.two-columns__paragraph_top, .two-columns__paragraph_bottom {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
}

/* Таблица */

.digits {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #fff;
}

.section-title {
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
  width: 60%;
  line-height: var(--title-line-h);
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 100px auto;
}

.table__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 60px auto 0 auto;
}

.table__cell {
  width: 250px;
}

.table__heading  {
  line-height: var(--title-line-h);
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.table__text-p {
  margin: 0 0 20px 0;
}

/* Фейнман (заголовок, под-заголовок ссылка и картинка) */

.feynman {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 890px;
  position: relative;
  flex-wrap: wrap;
}

.feynman__title {
  display: flex;
  margin: 100px 0 0 0;
  z-index: 3;
  width: 648px;
  justify-content: center;
  line-height: var(--title-line-h);
  font-size: 120px;
  font-weight: 600;
  text-align: center;
}

.feynman__subtitle {
  display: flex;
  margin: 70px 0 0 0;
  z-index: 3;
  justify-content: center;
  line-height: var(--feynman-subtitle-and-link-line-h);
  font-size: 36px;
  font-weight: 400;
}

.feynman__image {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: var(--feynman-subtitle-and-link-line-h);
  font-size: 36px;
  font-weight: 400;
}

/* Секция с Кауфманом */

.kaufman {
  display: flex;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.section_theme_dark {
  background-color: var(--dark-gray);
  color: #fff;
}

.section-title_theme_dark {
  margin: 90px 0 0 0;
  line-height: var(--title-line-h);
  font-size: 60px;
  font-weight: 600;
  z-index: 3;
}

.section-subtitle_theme_dark {
  margin: 20px 0 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.table_theme_dark {
  margin:0 auto 90px auto;
}

.table__row_theme_dark {
  margin: 80px 0 0 0;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 0;
  z-index: 3;
}

.table__heading_theme_dark {
  line-height: var(--title-line-h);
  font-size: 24px;
  font-weight: 600;
}

.kaufman__triangle{
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 1;
}

/* Подвал */

.footer {
  display: flex;
  background-color: var(--dark-gray);
  color: #fff;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 60px auto 40px auto;
  justify-content: space-between;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  line-height: var(--footer-column-line-h);
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 0 16px 0;
}

.footer__column-link {
  color: #fff;
  line-height: var(--footer-column-line-h);
  font-size: 18px;
  font-weight: 400;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}
