.khan__buy-link {
  text-decoration: none;
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  color: #2f80ed;
  opacity: 1;
}

.khan__buy-link:hover {
  opacity: 0.7;
  transition: opacity 0.5s ease infinite;
}
